REACT_APP_TEMPLATE_CLIENT_ID="YOUR DATA"
TW_Secrate="YOUR DATA"
MAGIC_API_KEY="YOUR DATA"
CONNECT_KEY="YOUR DATA"
PROJECT_ID="YOUR DATA"
REACT_APP_STRIPE_API_KEY="YOUR DATA"
REACT_APP_PINATA_API_KEY="YOUR DATA"
REACT_APP_PINATA_API_SECRET="YOUR DATA"
REACT_APP_PINATA_API_JWT="YOUR DATA"